<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlowUp - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Левая боковая панель (остается) -->
        <aside class="sidebar">
            <div class="logo">
                <h2>GLOWUP</h2>
            </div>
            
            <nav class="sidebar-nav">
                <ul class="nav-top">
                    <li class="{% if request.resolver_match.url_name == 'client_dashboard' or request.resolver_match.url_name == 'master_dashboard' %}active{% endif %}">
                        <a href="
                            {% if user.role == 'client' %}
                                {% url 'client_dashboard' %}
                            {% elif user.role == 'master' %}
                                {% url 'master_dashboard' %}
                            {% endif %}
                        ">
                            <i class="fas fa-user"></i>
                            <span>Аккаунт</span>
                        </a>
                    </li>
                    <li class="{% if 'bookings' in request.resolver_match.url_name %}active{% endif %}">
                      <a href="
                          {% if user.role == 'client' %}
                              {% url 'client_bookings' %}
                          {% elif user.role == 'master' %}
                              {% url 'master_bookings' %}
                          {% else %}
                              #
                          {% endif %}
                      ">
                          <i class="fas fa-calendar-check"></i>
                          <span>Записи</span>
                      </a>
                  </li>

                  {% if user.role == 'master' %}
                  <li class="{% if request.resolver_match.url_name == 'master_schedule' %}active{% endif %}">
                      <a href="{% url 'master_schedule' %}">
                          <i class="fas fa-calendar-alt"></i>
                          <span>Расписание</span>
                      </a>
                  </li>
                  {% endif %}
                    
                    {% if user.role == 'client' %}
                    <li>
                        <a href="{% url 'masters_list' %}">
                            <i class="fas fa-users"></i>
                            <span>Мастера</span>
                        </a>
                    </li>
                    {% endif %}
                    
                    <li>
                        <a href="{% url 'posts_list' %}">
                            <i class="fas fa-newspaper"></i>
                            <span>Посты</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'chats_list' %}">
                            <i class="fas fa-comment"></i>
                            <span>Сообщения</span>
                        </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'user_support' or request.resolver_match.url_name == 'user_support_detail' or request.resolver_match.url_name == 'create_complaint' %}active{% endif %}">
                        <a href="{% url 'user_support' %}">
                            <i class="fas fa-headset"></i>
                            <span>Поддержка</span>
                        </a>
                    </li>
                </ul>
                
                <ul class="nav-bottom">
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Выйти</span>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </aside>

        <!-- Основной контент на всю ширину -->
        <main class="main-content-full">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>